<settings>


    <mirrors>

        <mirror>
            <id>public-snapshots-mirror</id>
            <mirrorOf>public-snapshots</mirrorOf>
            <url>https://repo.adeo.no/repository/maven-public</url>
        </mirror>


    </mirrors>

    <profiles>
        <profile>
            <id>default</id>

            <repositories>
                <repository>
                    <id>repo</id>
                    <url>https://repo.adeo.no/repository/maven-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>


</settings>